@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #353535;
    font-family: 'Noto Sans KR', 'Noto Serif', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.header {

}

.header video {
    width: 50%;
    display: block;
    justify-content: center;
    margin: 100px auto;
    top: 500px;
}
.nav {
    text-align: center;
    justify-content: center;
    display: flex;
    top: -100px;

}
.nav a {
    border: 1px solid rgb(57, 57, 57);
    padding: 25px 14px;
    border-radius: 50%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.nav a:hover {
    border: 1px solid white;
    padding: 25px 14px;
    border-radius: 50%;
    background: #333;
    color: white;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}